.category-button {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: 2px solid white;
  transition-duration: 0.4s;
  width: 100%;
}

.category-button:hover {
  background-color: orange; /* Green */
  color: white;
}


.navi-category {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
