.header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
	min-height:100%;
	background:
	linear-gradient(
		rgba(255, 136, 0, 0.9),
		rgba(255, 136, 0, 0.9)
	),
	url(https://files.wallpaperpass.com/2019/10/food%20wallpaper%20131%20-%201920x1080.jpg);	
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	/* min-height: 100vh;
	min-width: 100vw;	 */
  
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  height: 104px;
}

.page-title {
  color: white;
  -webkit-text-stroke: 1px black;
}

.header-container-complete {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-container-incomplete {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.profile-button {
  margin-right: 20px;
  fill: #ffffff;
}

.header-box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.search {
  color: black;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.radio {
	padding: 4px;
	border-radius: 3px;
  display: flex;
  flex-direction: row;
}

.radio input {
	width: auto;
	appearance: none;
	/* outline: none; */
  margin-right: 5px;
	cursor: pointer;
	border-radius: 5px;
	padding: 4px 8px;
	background: rgba(255, 255, 255, 0.281);
	color: black;
	font-size: 16px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
}

.radio input:checked {
	/* background-image: linear-gradient(180deg, rgb(238, 136, 2), rgb(182, 95, 28)); */
	color: white;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
  border: black
}

.radio input:before {
	content: attr(label);
	text-align: center;
	width: 100%;
}

.search-input {
  background: white;
  color: black;
}

.search-btn {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
	border-radius: 5px;
}

.search-btn:hover {
  background-color: orange; /* Green */
  color: white;
}