@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* .login-page {
	width: 360px;
	display: flex;
	align-items: center;
  justify-content: center;
} */
.gambiarra{
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
	min-height:100%;
	background:
	linear-gradient(
		rgba(255, 136, 0, 0.50),
		rgba(255, 136, 0, 0.50)
	),
	url(https://cdn.wallpapersafari.com/26/92/0KH5pV.jpg);	
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;	
}

.Text {
  padding-bottom: 3%;
  color: #FFFFFF;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	
}

.login-page {
  width: 360px;
  /* padding: 15% 0 0;
  margin: auto;
	justify-content: center; */

}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ee9349;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-form:disabled {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: gray;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #ff7707;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/* body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
	min-height:100%;
	background:
	linear-gradient(
		rgba(255, 136, 0, 0.50),
		rgba(255, 136, 0, 0.50)
	),
	url(https://cdn.wallpapersafari.com/26/92/0KH5pV.jpg);	
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;	
} */